<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkpNCsU3SHiDLPg3P2gg9f08DyCQlkeC4</string>
	<key>GCM_SENDER_ID</key>
	<string>326116460647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tableTennisScoreboard</string>
	<key>PROJECT_ID</key>
	<string>tt-scoreboard-aa76b</string>
	<key>STORAGE_BUCKET</key>
	<string>tt-scoreboard-aa76b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326116460647:ios:69697f45dd84ada8642cc2</string>
</dict>
</plist>